body, html{
  font-family: 'Lato', sans-serif;
  height: 100%;
  margin:0;
  padding:0;
}

#inputId:-webkit-autofill {
    background-color: white !important;
}

.h1-styles, .h2-styles{
  color: #2b2b2bc7;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1.6rem;
}

.h1-styles{
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.general-form-container{
  background: #EAE4DA;
  align-items: center;
  display: flex;
  height:100vh;
  margin:0;
  justify-content: center;

  label, a{
    color: #2b2b2bc7;
  }
}

.container-login-form{
  align-items: center;
  background-color: #08b1d8;
  display: flex;
  height:100vh;
  margin:0;
  justify-content: center;
  padding:0;
}

.general-form-styles{
  background: #FFFFFF;
  border-radius: 4px;
  padding: 30px;
}

.form-login{
  background: #FFF;
  border-radius: 4px;
  padding: 30px;
  width: 400px;

  label, a{
    color: #2b2b2bc7;
  }
}

.custom-input-text-general{
  border-radius: 0;
  border: 1px solid #dddddd;
  box-shadow: none;
  &:focus{
    box-shadow: none;
    border-color: #dddddd;
  }
}

.custom-input-text-login{
  border: none;
  border-bottom: 1px solid #dddddd;
  box-shadow: none;
  &:focus{
    box-shadow: none;
    border-color: #dddddd;
  }
}

.checkbox-container{
  div{
    margin-left: 20px;
  }
}

.login-button{
  background-color: #2b2b2b;
  border-color: #fff;
  border-radius: 0;
  height: 45px;
  width: 100%;

  &:hover, &:active, &:focus{
    color: #fff;
    border-color: #fff;
    background-color: #00A5AC !important;
  }
}
